body {
  text-align: center;
  font-family: 'Roboto', sans-serif;
  background-color: rgba(221, 255, 245, .4);
}

img {
  height: 10%;
  width: 10%;
  display: inline;
  opacity: .5;
}

h2 {
  margin-bottom: 2px;
}

table {
  margin: 20px auto;
  border: hidden;
}

.player1 {
  background-color: rgba(255, 243, 166, .5);
  border: 3px solid black;
}

.player2 {
  background-color: rgba(135, 217, 222, .4);
}

th {
  text-decoration: underline;
}

.board td {
  width: 100px;
  height: 100px;
  text-align: center;
  border: 3px solid rgba(63, 180, 82, .4);
  border-radius: 75px;
  cursor: pointer;
  font-size: 50px;
}

table.board {
  border-collapse: collapse;
  border-radius: 10px;
}

.winTag {
  margin: 10px 0 0 0;
  color: rgba(255, 75, 80, .9);
  animation-duration: 1000ms;
  animation-name: blink;
  animation-iteration-count: 1;
  animation-direction: alternate-reverse;
}

input {
  background-color: rgba(63, 180, 82, .4);
  font-size: .9em;
  font-weight: bolder;
  border-radius: 5px;
  cursor: pointer;
  border: 1px solid rgb(63, 180, 82);
  font-family: 'Roboto', sans-serif;
}

footer {
  font-size: 3px;
}

.gameOver {
  background-color: rgba(255, 79, 80, .4);
  animation-duration: 250ms;
  animation-name: blink;
  animation-delay: 2000ms;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

@keyframes blink {
   from {
      opacity: 1;
   }
   to {
      opacity: 0;
   }
 }
