body {
  text-align: center;
  font-family: 'Roboto', sans-serif;
}

img {
  height: 10%;
  width: 10%;
  display: inline;
  opacity: .5;
}

h2 {
  margin-bottom: 2px;
}

table {
  margin: 20px auto;
  border: hidden;
}

th {
  text-decoration: underline;
}

.board td {
  width: 100px;
  height: 100px;
  text-align: center;
  border: 3px solid rgba(63, 180, 82, .4);
  cursor: pointer;
  font-size: 50px;
}

table.board {
  border-collapse: collapse;
}

input {
  font-size: .9em;
  font-weight: bolder;
  border-radius: 5px;
  cursor: pointer;
  border: 1px solid green;
  font-family: 'Roboto', sans-serif;
}

footer {
  font-size: 3px;
}
